.section-title {
    color: #999;
    font-size: 1rem;
    font-weight: light;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

p {
    line-height: 18px !important;
}

.article-img {
    position: relative;
}

.category {
    display: block;
    padding: 0 0.5rem;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    color: #f72210;
}

.category-2 {
    display: block;
    padding: 0 0.5rem;
    font-weight: lighter;
    position: absolute;
    font-size: small;
    bottom: 0;
    left: 0;
    background: #c2d4d7;
    color: #666;
}

.border-red-thick {
    color: #f72210;
}

.debate-author-image {
    position: relative;
}

.debate-author-image img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.vs {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    
}

.vs span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #000000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.newsletter{
    width: 90%;
    margin: 0 auto;
}